body {

  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }


/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
  }

/* Centered text */
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
input
{
width: 100%;

}
      
