body {

  }
  
  h1 {
    color: white;
    margin-left: 20px;
  }





  
/* Form Styling */

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  /* center all items within body, this property is inherited */
  }
  
  * {
    box-sizing: border-box;
    text-align: center;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("images/pattern-bg.png");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  
    width:500px;
    max-width: 500px;
    padding: 10px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {

    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    align-items:flex-end
  }
  
  .btn:hover {
    opacity: 1;
  }
