
  /* heading styling */

  h1 {
    color: white;
    margin-left: 20px;
    padding-top: 50px;
  }
  
/* Form Styling */

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  /* center all items within body, this property is inherited */
  }
  
  * {
    box-sizing: border-box;
    text-align: center;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("images/pattern-bg.png");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  
  

  /*This adds a hover function to the submit button */

  .submitbutton:hover {
    opacity: 6;
    
  }


/* Change size of submit button */

  input[type=image] {
   height: 1em;}


  /* This styles the text box and also puts the submit button to the side of the text box */

 input.field{width:60%;}

.fieldwrapper
 
{white-space: nowrap;}
